* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-bar {
    display: flex;
    flex-direction: row;
    background-color: #3af;
    border-bottom: 2px solid black;
    position: absolute;
    width: 100%;
}

.top-bar * {
    margin: 5px 10px;
}

#video{
    z-index: 1;
    position: absolute;
    top:22px;
    min-width: 100%;
    min-height: 100%;
}

#canvas {
    z-index: 2;
    position: absolute;
    top:22px;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    min-width: 100%;
    min-height: 100%;
    border: 2px solid black;
}